<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <h1 class="text-center">Form</h1>
    <form action="" method="post">
        <div style=" display: grid; place-items: center;">
            <table>
                <tr>
                    <td>
                        <label for="">First Name

                    </td>
                    <td>
                        <input type="text"  name="fn"></label>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Last Name

                    </td>
                    <td>
                        <input type="text"  name="ln"></label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="">E-Mail

                    </td>
                    <td>
                        <input type="email" name="email"></label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="">Linkedin Username

                    </td>
                    <td>
                        <input type="text" name="lin" placeholder="LinkedIn Username"></label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="">GitHub

                    </td>
                    <td>
                        <input type="text" name="git" placeholder="Github Username"></label>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="">Twitter

                    </td>
                    <td>
                        <input type="text" name="twit" placeholder="Twitter Username"></label>

                    </td>
                </tr>
                
            </table>
            
            
            
            
            
            <div class="flex mt-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>